body{
    background-image: url("../images/login_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.central_container{
    margin: 100px auto auto auto;
    left: 700px;
    bottom: 100px;
    opacity: 90%;
    background: #c4dce8;
    height: 1000px;
    width: 600px;
    border-radius: 8px;
}

.header{
    position: relative;
    font-size: 50px;
    top: 30px;
    text-align: center;
    font-family: "Arial Black";
    font-weight: bold;
}

.input{
    position: relative;
    top: 30px;
    font-size: 15px;
    height: 30px;
    width: 300px;
    border-radius: 8px;
    margin: 10px auto auto auto;
}

.button-holder{
    position: relative;
    text-align: center;
    margin: auto;
    top: 100px;
}

.button{
    margin: auto;
    color: whitesmoke;
    background-color: blueviolet;
    height: 40px;
    width: 75px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.extra{
    position: relative;
    margin: auto;
    left: 150px;
    top: 400px;
}