{% extends 'recipes/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>
</head>
<body>
<div>

    {% ifequal user.username recipe_creator %}

    <form id="edit_recipe_form" method="post" action="{% url 'edit_recipe' user.username %}"
    enctype="multipart/form-data">

        {% csrf_token %}

        {{ edit_recipe_form.as_p }}



        <br/>


        <input type="submit" name="submit" value="Submit Recipe" />

    </form>
    {% else %}
    You do not have permission to edit this recipe
    {% endifequal %}

</div>
</body>
</html>