<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Recipes</title>
    <link rel="stylesheet" href="index_style.css">
    <style>
        body{
            background-image: url("/static/index_background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="search-box-container">
        <input id="input" type="search" spellcheck="false" placeholder="EXPLORE OUR RECIPES">
    </div>
    <div>
        &#128293<strong>Trending</strong>
        <div class="recipe-block">
        </div>
    </div>
</body>
</html>