{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Best Recipes</title>

{% endblock %}

{% block body_block %}
    <div id="search-box-container">
        <form method="post", action="{% url 'search' %}">
            {% csrf_token %}
            <input id="input" type="search" spellcheck="false" placeholder="EXPLORE OUR RECIPES" name="searched">
        </form>
    </div>
    <div>
        <strong id="trending">&#128293 Trending</strong> <br />
        {% for recipe in 'recipes' %}
                <span class="recipe-block">

                </span>
            </a>
        {% endfor %}
    </div>
    <div>
    </div>
{% endblock %}