{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
        function toggleProfileBox() {
            var isHidden = $('#user_profile_box_links').is(':hidden');
            if (isHidden) {
                $('#user_profile_box_links').show();
            }
            else {
                $('#user_profile_box_links').hide();
            }
        }
    </script>

    <meta charset="UTF-8">
    <title>Best Recipes</title>
    <link rel="stylesheet" href="{% static 'CSS/index_style.css' %}">
</head>
<body>


    <div id="search-box-container">
        <input id="input" type="search" spellcheck="false" placeholder="EXPLORE OUR RECIPES">
    </div>
    <div>
        &#128293<strong>Trending</strong>
        <div class="recipe-block">
        </div>
    </div>
    <div>

    <div id="user_profile_box">
        <div id="user_profile_box_links">
            {% if user.is_authenticated %}
                {% if user.profile.profile_picture %}
                    <img src="{{ MEDIA_URL }}{{ request.user.profile.profile_picture }}" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'user_profile_icon.png' %}">
                {% endif %}
                <a href="{% url 'profile' user.username %}">Your Profile</a>
                <a href="{% url 'new_recipe' user.username %}">New Recipe</a>
                <a href="{% url 'favourites' user.username %}">Favourites</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %} 
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'sign_up' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
    
    </div>
</body>
</html>