<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login_register.css">
    <style>
        body{
            background-image: url("/static/login_background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div>
    <h1>Log In</h1>
    <div>
        <form id="login_form" method="post" action="{% url 'recipes:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" class="login"/>
            <br />
            Password: <input type="password" name="password" value="" size="50" class="login"/>
            <br />
            <input type="submit" value="submit" />
        </form>

    </div>
    <div>

        <p style="color: cornflowerblue">
            Don't have an account yet?
            <a href="{% url 'recipes:sign_up' %}">Join us now!</a>
        </p>

    </div>
    <div>
    </div>
</div>
</body>
</html>