{% extends 'recipes/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe -</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>

$(document).ready(function(){

// TODO: this really should be in a seperate JS file but annoying to do because relying on djano tags here so will do it later - might need to create hidden divs with everything *sigh*
// TODO: we currenly dont unempty the first star - kinda minor aeshetic issue but still
// TODO: we don't want users to be able to rate their own recipes

  function star_click(star_div_id) {
    let star_number = star_div_id.charAt(star_div_id.length - 1);

    $.ajax({
                type: 'GET',
                url: "{% url 'give_rating' %}",
                data: {
                    "rating": star_number,
                    "user": "{{ recipe.creator.user.username }}",
                    "recipe": "{{ recipe.recipe_name_slug }}",
                },
                success: function (response) {
                    console.log("it worked!!");
                },
                error: function (response) {
                    console.log(response)
                }
            })

  }

  function user_current_rating() {
    console.log("LOADING!");
    $.ajax({
                type: 'GET',
                url: "{% url 'get_rating' %}",
                data: {
                    "user": "{{ recipe.creator.user.username }}",
                    "recipe": "{{ recipe.recipe_name_slug }}",
                },
                success: function (response) {
                    let rating = parseInt(response["rating"])
                    console.log("got rating of " + rating);
                    if (rating > 0) {
                        star_hover("star_" + rating);
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })

  }
  
  user_current_rating();

  function empty_star(star_div_id) {
    $("#" + star_div_id).children("img").attr("src", "{% static 'star_empty.png' %}");
  }

  function fill_star(star_div_id) {
    $("#" + star_div_id).children("img").attr("src", "{% static 'star_full.png' %}");
  }

  function star_hover(star_div_id) {
    console.log(star_div_id)
    let star_num = parseInt(star_div_id.charAt(star_div_id.length - 1))

    for (let i = 1; i < 6; i++) {
        if (i < star_num + 1) {
            fill_star("star_" + i);
            last_star_filled = i;
        }
        else {
            empty_star("star_" + i);
        }
    }

  }

  $('.star').click(
    function() {
        star_click(this.id);
    }
  )

  $('.star').hover(
    function() {
        star_hover(this.id);
    }
  )

});


    </script>

</head>
<body>
<div>

    <h3>{{ recipe.name }} by {{ recipe.creator.user.username }} </h3>
    {{ recipe.recipe_name_slug }}

    <h4>Ingredients</h4>

    {{ recipe.ingredients }}

    <h4>Instructions</h4>

    {{ recipe.text }}

    <h3>Tags</h3>

    {% if tag_metas %}
        {% for tag_meta in tag_metas %}
            <a href="{% url 'show_tag' tag_meta.tag_name_slug %}">{{ tag_meta.tag }}</a>
            <br/>
        {% endfor %}
    {% else %} 
        <p>Recipe has no tags at the moment</p>
    {% endif %}
    
    <p><strong>Views:</strong> {{ recipe.views }}</p>

    <div id="rating">
        <div id="star_1" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_2" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_3" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_4" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_5" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
    </div>

    <br/>

    {% ifequal user.username recipe.creator.user.username %}
    <a href="{% url 'edit_recipe' recipe.recipe_name_slug %}">Edit Recipe</a>
    <br/>
    <a href="{% url 'delete_recipe' recipe.recipe_name_slug %}">Delete Recipe</a>
    {% endifequal %}

</div>
</body>
</html>