<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe -</title>
</head>
<body>
<div>

    <h3>{{ recipe.name }} by {{ recipe.creator.user.username }} </h3>
    {{ recipe.recipe_name_slug }}

    <h4>Ingredients</h4>

    {{ recipe.ingredients }}

    <h4>Instructions</h4>

    {{ recipe.text }}

    <h3>Tags</h3>

    {% if tag_metas %}
        {% for tag_meta in tag_metas %}
            <a href="{% url 'show_tag' tag_meta.tag_name_slug %}">{{ tag_meta.tag }}</a>
            <br/>
        {% endfor %}
    {% else %} 
        <p>Recipe has no tags at the moment</p>
    {% endif %}
    
    <p><strong>Views:</strong> {{ recipe.views }}</p>

    {% ifequal user.username recipe.creator.user.username %}
    <a href="{% url 'edit_recipe' recipe.recipe_name_slug %}">Edit Recipe</a>
    <br/>
    <a href="{% url 'delete_recipe' recipe.recipe_name_slug %}">Delete Recipe</a>
    {% endifequal %}

</div>
</body>
</html>