{% extends 'recipes/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head_block %}
    <title>Recipe -</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="{% static 'JS/show_recipe.js' %}"></script>

{% endblock %}

{% block body_block %}
<div>
    <h3>{{ recipe.name }} by {{ recipe.creator.user.username }} </h3>
    {{ recipe.recipe_name_slug }}

    <h4>Ingredients</h4>

    {{ recipe.ingredients }}

    <h4>Instructions</h4>

    {{ recipe.text }}

    <h3>Tags</h3>

    {% if tag_metas %}
        {% for tag_meta in tag_metas %}
            <a href="{% url 'show_tag' tag_meta.tag_name_slug %}">{{ tag_meta.tag }}</a>
            <br/>
        {% endfor %}
    {% else %} 
        <p>Recipe has no tags at the moment</p>
    {% endif %}
    
    <p><strong>Views:</strong> {{ recipe.views }}</p>

    <div id="rating">
        <div id="star_1" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_2" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_3" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_4" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
        <div id="star_5" class="star">
            <img src="{% static 'star_empty.png' %}"  style="width:50px;height:50px;"/>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div id="show_ratings">
        <p id="rating_text"></p>
    </div>

    <div id="favourite_button_container">
        <button type="submit">Favourite</button>
    </div>

    <br/>
    {% endif %}

    {% ifequal user.username recipe.creator.user.username %}
    <a href="{% url 'edit_recipe' recipe.recipe_name_slug %}">Edit Recipe</a>
    <br/>
    <a href="{% url 'delete_recipe' recipe.recipe_name_slug %}">Delete Recipe</a>
    {% endifequal %}

    <div id="for_jquery" >
        <p id="empty_star_path">{% static 'star_empty.png' %}</p>
        <p id="full_star_path">{% static 'star_full.png' %}</p>
        <p id="recipe_name_slug">{{ recipe.recipe_name_slug }}</p>
        <p id="username">{{ user.username }}</p>
        <p id="get_favourited_status">{% url 'get_favourited_status' %}</p>
        <p id="set_favourited_status">{% url 'set_favourited_status' %}</p>
        <p id="give_rating">{% url 'give_rating' %}</p>
        <p id="get_rating">{% url 'get_rating' %}</p>
        <p id="get_recipe_rating">{% url 'get_recipe_rating' %}</p>
    </div>

</div>
{% endblock %}