{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <link rel="stylesheet" href="../../static/CSS/login_register.css">
</head>
<body>
<div>
    <div>
        Welcome to your profile {{ user.user.username }}
    </div>
    <div>
        <a href="{% url 'update_profile' %}">
            Update your information
        </a>
    </div>
    <div>
        {% if recipes %}   
            {% for recipe in recipes %}
                <a href="/recipes/{{ recipe.recipe_name_slug }}">{{ recipe.name }}</a>
            {% endfor %}
        {% else %}
            <p>You have no recipes at the moment!</p>
        {% endif %}
    </div>
</div>
</body>
</html>