{% extends 'user/profile_base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block profile_head_block %}
    <title>{{ user.user.username }}</title>
{% endblock %}

{% block profile_body_block %}

    <div>
        <a href="{% url 'update_profile' %}">
            <button id="update_button">Update your information</button>>
        </a>
    </div>

    <div>
        <a href="{% url 'delete_profile' %}">
            <button id="delete_buttonn">Delete your profile</button>
        </a>
    </div>

    <div>
        {% if recipes %}   
            {% for recipe in recipes %}
                <a href="/recipes/{{ recipe.recipe_name_slug }}">{{ recipe.name }}</a>
            {% endfor %}
        {% else %}
            <p class="text">You have no recipes at the moment!</p>
        {% endif %}
    </div>

{% endblock %}