{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/profile.css' %}" />
    {% block profile_head_block %}
    {% endblock %}
</head>
<body>

    <header>
        <a href="{% url 'recipes:index' %}"> <img src="{% static 'images/logo.png'%}" class="logo"></a>
    </header>

<div id="pic-container">
    {% if user.profile.profile_picture %}

        <img src="{{ MEDIA_URL }}{{ request.user.profile.profile_picture }}"
             alt="Profile Picture" class="user-pic" />

    {% else %}

        <img src="{% static 'user_profile_icon.png' %}" class="user-pic" />

    {% endif %}
</div>
<h2 id="welcome"> Welcome to your profile {{ user.user.username }} </h2>>
    <div class="container">
    <div class="profile_content">
    {% block profile_body_block %}
    {% endblock %}
    </div>
    </div>>
</body>
</html>